.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 20px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}